@media (max-width: 1440px) { 
	.hero__caption {
		font-size: 9.3vw;
	}
	.hero__description {
		font-size: 28px;
	}
	.hero-view__girl {
		max-width: 700px;
		width: 46vw;
	}
	.rec-info__caption {
		font-size: 3.5vw;
		max-width: 47vw;
	}
	.rec-info__text {
		font-size: 1.4vw;
		max-width: 46vw;
	}
	.rec-item__img {
		width: 22vw;
    	max-width: 301px;
	}
	.rec-item__text {
		font-size: 18px;
		max-width: 170px;
	}
	.section-products__caption {
		font-size: 50px;
	}
	.why-content {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.why-item__text {
		font-size: 18px;
	}
	.application-content-wrp {
		padding-top: 140px;
	}
	.application__text {
		font-size: 18px;
	}
	.application-item__text {
		font-size: 16px;
	}
	.application-item__img {
		margin-right: 30px;
	}
	.application-number {
		font-size: 180px;
	}
	.application-item__img {
		max-width: 267px;
		width: 20vw;
	}
	.where-buy-item__img {
		width: 100%;
		max-width: 220px;
	}
	.question-item {
		font-size: 18px;
	}
	.question-content-wrp {
		padding-bottom: 100px;
	}
	.hero-view__tube {
		max-width: 644px;
		width: 50vw;
	}
	.hero-content-wrp {
		height: auto;
	}
	.rec-content-wrp {
		padding-top: 110px;
		padding-bottom: 140px;
	}
	.rec-info {
		padding-left: 552px;
	}
	.rec-view__girl {
		max-width: 468px;
		position: absolute;
		left: 0;
		top: 20px;
		width: 32vw;
	}
	.app-content-caption-wrp-right {
		max-width: 340px;
	}
}
@media (max-width: 1310px) { 
	.where-buy-slider-wrp {
		max-width: 86%;
	}
}
@media (max-width: 1250px) { 
	.question-items {
		justify-content: flex-start;
	}
	.question-item {
		max-width: 22%;
		width: 100%;
		margin-right: 1%;
	}
	.where-buy-slider-wrp {
		max-width: 90%;
	}
}
@media (max-width: 1100px) { 
	.where-buy-slider-wrp {
		max-width: 94%;
	}
	.hero {
		height: 600px;
	}
	.hero__description-line {
		margin-right: 24px;
	}
	.hero__description {
		font-size: 25px;
		max-width: 449px;
	}
	.hero-bg {
		background-position: 60%;
	}
	.hero-view__tube {
		margin-top: 46px;
		margin-left: 30px;
		max-width: 360px;
	}
	.advv-content {
		flex-direction: column;
		align-items: flex-end;
	}
	.advv-check {
		width: 100%;
	}
	.advv-check-row {
		display: flex;
		justify-content: space-between;
	}
	.why-item {
		align-items: center;
		margin-bottom: 32px;
		flex-direction: column;
	}
	.why-item__text {
		margin-top: 16px;
		margin-left: 0px;
		text-align: center;
	}
	.application-number {
		font-size: 140px;
		bottom: 35px;
    	left: -12px;
	}
	.application-item {
		width: 48%;
	}
	.application-item--last {
		width: 100%;
	}
	.where-buy-item__img {
		max-width: 180px;
	}
	.wb-items-arrows {
		top: 28%;
	}
	.question-item {
		width: 20vw;
		max-width: none;
	}
	.reference-vertical-line {
		display: none;
	}
	.reference-left {
		width: 47%;
	}
	.rec-info {
		padding-left: 42vw;
	}

}

@media (max-width: 991px) { 
	.where-buy-slider-wrp {
		max-width: 88%;
	}
	.rec-content-wrp {
		padding-top: 110px;
		padding-bottom: 140px;
	}
	.rec-info__caption {
		font-size: 3.5vw;
		max-width: 47vw;
	}
	.rec-info__text {
		font-size: 1.4vw;
		max-width: 46vw;
	}
	.rec-item__img {
		width: 22vw;
    	max-width: 301px;
	}
	.rec-item__text {
		font-size: 18px;
		max-width: 170px;
	}
	.section-products__caption {
		font-size: 40px;
		max-width: 406px;
	}
	.app-content-caption-wrp {
		margin-bottom: 60px;
	}
	.why-item__text {
		font-size: 16px;
	}
	.why-item__circle {
		width: 48px;
		height: 48px;
	}
	.why-item__circle img {
		width: 60%;
	}
	.why-use {
		display: none;
	}
	.question-item {
		width: 19vw;
		margin-right: 1.5%;
		padding: 27px 28px 31px 25px;
	}
	.question-items {
		margin-top: 48px;
	}
	.hero-view__girl {
		display: none;
	}
	.hero-view__girl-mob {
		display: block;
		max-width: 290px;
		width: 100%;
		position: absolute;
		top: -48px;
		right: 16px;
	}
	.why-item__circle__img-3 {
		width: 20px !important;
	}
	.why-item__circle__img-4 {
		width: 12px !important;
	}
}

@media (max-width: 767px) { 
	.hero {
		height: 500px;
	}
	.hero__description {
		font-size: 21px;
		max-width: 384px;
	}
	.hero-view__tube {
		margin-top: 10px;
		margin-left: 10px;
		max-width: 300px;
	}
	.adv-use {
		width: 100%;	
	}
	.adv-btns {
		width: 100%;
	}
	.application-content-wrp {
		padding-top: 60px;
	}
	.application__text {
		font-size: 16px;
		margin-top: 22px;
	}
	.application-item__text {
		font-size: 14px;
	}
	.question-item {
		width: 30vw;
		margin-right: 2%;
		box-sizing: border-box;
		padding: 27px 74px 31px 25px;
	}
	.question-content-wrp {
		padding-bottom: 50px;
	}
	.reference-content-wrp {
		padding-bottom: 90px;
	}
	.app-content-caption-wrp {
		flex-direction: column;
		align-items: flex-start;
	}
	.app-content-caption-wrp-right__decor-line {
		display: none;
	}
	.app-content-caption-wrp-right {
		padding-left: 0px;
	}
}

@media (max-width: 622px) { 
	.where-buy {
		margin-top: 0px;
	}
	.where-buy-slider-wrp {
		max-width: 100%;
	}
	.hero {
		height: 452px;
		margin-top: 0;
	}
	.hero__caption {
		font-size: 40px;
		margin-top: 26px;
		margin-bottom: 20px;
	}
	.hero__description-line {
		margin-right: 16px;
		height: 108px;
	}
	.hero-bg {
		background: url('../images/products/hero-woman-metrogil-mobile.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
	}
	.hero__decor-line {
		background: rgba(0, 0, 0, .4);
	}
	.hero__description {
		max-width: 200px;
		font-family: 'Playfair';
		font-style: italic;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	.hero-view__tube {
		margin-top: 57px;
		margin-left: 14px;
		max-width: 150px;
	}
	.advv-content-wrp {
		padding-top: 64px;
	}
	.advv-check-item {
		width: 44%;
	}
	.advv-check-row {
		flex-wrap: wrap;
	}
	.advv-check-item__text {
		font-size: 18px;
	}
	.rec-info {
		flex-direction: column;
	}
	.rec-info__caption {
		font-family: 'Playfair';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 125%;
		letter-spacing: 0.02em;
		color: #000000;
	}
	.rec-info__caption {
		width: 100%;
		max-width: 326px;
		margin-bottom: 22px;
	}
	.rec-info__text {
		width: 100%;
		font-family: 'Geometria';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #0C0B0B;
		max-width: 370px;
	}
	.rec-content-wrp {
		padding-bottom: 68px;
	}
	.rec-content {
		width: 100%;
	}
	.rec-info {
		margin-bottom: 64px;
	}
	.rec-item__text {
		font-size: 14px;
	}
	.section-products__caption {
		font-size: 28px;
	}
	.why-use {
		display: flex;
		flex-direction: column;
	}
	.why-column {
		width: 100%;
	}
	.why-items {
		flex-direction: column;
	}
	.why-item {
		align-items: center;
		flex-direction: row;
		min-height: auto;
	}
	.why__caption {
		display: none;
	}
	.why-content {
		padding-top: 29px;
		padding-bottom: 36px;
	}
	.why-item__text {
		margin-left: 24px;
		text-align: start;
		margin-top: 0px;
	}
	.why-use {
		margin-left: 0;
		max-width: 420px;
	}
	.adv-use {
		justify-content: start;
	}
	.application-items-nav {
		overflow-x: auto;
		width: 95vw;
	}
	.application-items {
		flex-wrap: nowrap;
	}
	.application-item {
		flex-direction: column;
		width: 100%;
		margin-right: 30px;
		width: 220px;
		flex: 0 0 auto;
	}
	.application-item__img {
		margin-right: 0px;
		max-width: 170px;
		width: 100%;
	}
	.application-items {
		padding-left: 8px;
	}
	.application {
		background: #F3F3F3;
	}
	.where-buy-slider {
		overflow-x: auto;
		width: 95vw;
	}
	.where-buy-item__img {
		max-width: 100%;
		width: 200px;
	}
	.wb-items-arrows {
		display: none;
	}
	.where-buy-items {
		justify-content: flex-start;
	}
	.where-buy-item {
		flex: 0 0 auto;
	}
	.where-buy-slider {
		margin-top: 28px;
	}
	.where-buy-content-wrp {
		padding-top: 94px;
		padding-bottom: 46px;
	}
	.question-item {
		width: 100%;
		font-size: 18px;
		margin-right: 0;
	}
	.question-items {
		margin-top: 53px;
	}
	.reference-content {
		flex-direction: column;
	}
	.reference-left {
		width: 100%;
		margin-bottom: 24px;
	}
	.reference-right {
		width: 100%;
	}
	.hero {
		margin-top: 20px;
	}
	.hero-view__girl-mob {
		top: -20px;
		max-width: 213px;
	}
	.hero__caption {
	    margin-bottom: 10px;
	}
	.hero__caption--bot {
		font-family: 'Playfair';
		font-style: italic;
		font-weight: 400;
		font-size: 40px;
		line-height: 115%;
		letter-spacing: 0.02em;
		color: #000000;
		margin-top: 0px;
		text-align: start;
	}
	.hero-view {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	.hero__name-r {
		font-size: 4vw;
		position: absolute;
		margin-left: 0;
	}
	.rec-info {
		padding-left: 0px;
	}
	.rec-view__girl {
		top: 354px;
	}
	.why-content {
		padding-top: 450px;
	}
	.rec-view__girl {
		display: none;
	}
	.rec-view__girl--mob {
		display: block;
		max-width: 343px;
		width: 100%;
		top: 396px;
	}
	.application__text {
		max-width: 350px;
	}

}

@media (max-width: 479px) { 
	.plato-item__price {
		font-size: 16px;
		padding-top: 10px;
	}

	.plato-img-2 {
		opacity: 1 !important;
		z-index: 3 !important;
	}
	.hero {
		height: 367px;
	}
	.hero-view__tube {
		margin-top: 0px;
		margin-left: 0px;
		max-width: 210px;
		bottom: 150px;
		position: absolute;
		z-index: 5;
	}
	.hero-view {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.hero-content-wrp {
		padding-bottom: 14px;
	}
	.advv-content {
		flex-direction: column-reverse;
	}
	.adv-btns {
		max-width: 100%;
	}
	.advv-check {
		margin-top: 48px;
	}
	.advv-check-item {
		align-items: center;
		margin-bottom: 24px;
		width: 100%;
	}
	.advv-check-item__text {
		font-family: 'Geometria';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		display: flex;
		align-items: center;
		letter-spacing: 0.02em;
		color: #0C0B0B;
	} 
	.rec-info {
		margin-bottom: 48px;
	}
	.rec-info__caption {
		width: 100%;
		max-width: 306px;
		margin-bottom: 20px;
	}
	.rec-content-wrp {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.rec-row {
		flex-wrap: wrap;
	}
	.rec-item {
		align-items: center;
		width: 100%;
		flex-direction: row;
		margin-bottom: 36px;
	}
	.rec-item__img {
		width: 100%;
		max-width: 90px;
	}
	.rec-item__text {
		margin-top: 0px;
		margin-left: 28px;
		text-align: start;
		font-family: 'Geometria';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #000000;
		max-width: 208px;
	}
	.section-products__caption {
		font-size: 20px;
		margin-left: 0 !important;
	}
	.section-products__caption--question {
		margin-left: 16px !important;
	}
	.application-item__img {
		margin-right: 0px;
		max-width: 150px;
		width: 100%;
	}
	.question-items {
		margin-top: 23px;
	}
	.question-item {
		margin-bottom: -2px;
		font-size: 16px;
		margin-bottom: 0px;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		background-size: 20px;
	}
	.question-item:last-child {
		border-bottom: 2px solid #E6E6E6;
	}
	.question-content-wrp {
		padding-left: 0px;
		padding-right: 0px;
	}
	.question__caption {
		margin-left: 16px;
	}
	.reference-content-wrp {
		padding-bottom: 52px;
	}
	.section__caption {
		margin-left: 16px;
	}
	.hero-content-wrp {
		height: 100%;
	}
	.hero__description {
		max-width: 335px;
	}
	.hero__description-line {
		height: 89px;
	}
	.hero__name-r {
		font-size: 20px; 
	}


}

@media (max-width: 367px) { 

}