/* hero */

.hero {
	height: 702px;
	position: relative;
	margin-top: 48px;
}

.hero-content-wrp {
	height: 100%;
	position: relative;
	/* height: calc(100% - 57px);
	 */
	height: 100%;
	z-index: 3;
}

.hero-content {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
	width: 100%;
	position: relative;
	height: 100%;
}

.section-products__caption {
	font-family: 'Playfair';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 125%;
	color: #000000;
}

.hero__caption {
	font-family: 'Playfair';
	font-style: normal;
	font-weight: 400;
	font-size: 135px;
	line-height: 70%;
	letter-spacing: 0.02em;
	color: #000000;
	margin-bottom: 60px;
	margin-top: 60px;
}
.hero__name-r {
	font-size: 42px;
	position: absolute;
	margin-left: -3px;
	margin-top: -3px;
}
.hero__name-a {
	/* margin-left: 2%; */
}

.hero__description {
	font-family: 'PlayfairDisplay-MediumItalic';
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: #000000;
	max-width: 595px;
	display: flex;
}

.hero__description-line {
	width: 1px;
	height: 101px;
	background: #000000;
	margin-right: 30px;
}

.hero-view__tube {
	margin-top: 56px;
	margin-left: 95px;
}

.hero__wrp-name {
	display: flex;
}

.hero-view {

}

.hero-bg {
	width: 100%;
    height: 100%;
    background: url(../images/main-pages/hero-metrogil-a.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__main-description {
	font-family: 'PlayfairDisplay-Medium';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 125%;
	display: flex;
	align-items: center;
	color: #000000;
	margin-top: 70px;
    max-width: 740px;
    margin-right: auto;
}

/* ADV */

.advv {

}

.advv-content {
	display: flex;
	width: 100%;
}

.advv-content-wrp {
	padding-top: 64px;
}

.advv-check {	
	width: 66%;

}

.advv-check-row {
	display: flex;
}

.advv-check-item {
	display: flex;
	align-items: flex-start;
	width: 100%;
    max-width: 440px;
	margin-bottom: 30px;
	padding-right: 25px;
}

.advv-check-item__text {
	margin-left: 22px;
	max-width: 340px;
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #0C0B0B;
}

.adv-use {
    width: 33%;
    display: flex;
    justify-content: end;
}

.adv-btns {
	max-width: 340px;
}

.adv-use__btn {
	margin-bottom: 24px;
	text-decoration: none;
}

.adv-use__btn:last-child {
	margin-bottom: 0px;
}

/* RECOMTENDATION */

.rec-content-wrp {
	padding-top: 176px;
	padding-bottom: 200px;
}

.rec-info {
	display: flex;
	margin-bottom: 80px;
}

.rec-info__caption {
	font-family: 'Playfair';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 125%;
	color: #000000;
	max-width: 700px;
	width: 50%;
}

.rec-info__text {
	width: 50%;
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #0C0B0B;
}

.rec-row {
	display: flex;
	justify-content: space-around;
}

.rec-item {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.rec-item__img {
	max-width: 300px;
    width: 100%;
}

.rec-item__text {
	margin-top: 27px;
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #000000;
	max-width: 58%;
}


/* WHY */

.why {
	background:#FFE0DC;
}

.why__caption {
	font-family: 'Playfair';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 125%;
	color: #000000;
	margin-bottom: 85px;
}

.why-content {
	width: 100%;
	padding-top: 138px;
	padding-bottom: 180px;
}

.why-column {
	width: 30%;
}

.why-items {
	display: flex;
	justify-content: space-between;
}

.why-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 52px;
	min-height: 120px;
}

.why-item__circle {
	width: 65px;
	height: 65px;
	background:#000000;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;	
}

.why-item__text {
	margin-left: 24px;
	max-width: 336px;
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #0C0B0B;
}

.why-use {
	max-width: 336px;
    margin-left: auto;
}

.why-use__btn {
	margin-bottom: 20px;
}

/* APPLICATION */

.application {

}

.application__text {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #0C0B0B;
	margin-top: 30px;
}

.application-content-wrp {
	padding-top: 190px;
}

.application-content {

}

.application-items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 43px;
	justify-content: space-between;
}

.application-item {
	display: flex;
	align-items: flex-start;
	width: 48%;
	margin-bottom: 80px;
}

.application-item-block {
	position: relative;
}

.application-item--last {
	width: 100%;
}

.application-item__img {
	margin-right: 40px;
}

.application-number {
	font-family: 'Playfair';
	font-style: italic;
	font-weight: 400;
	font-size: 200px;
	line-height: 1em;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;
	color: #000000;
	position: absolute;
	bottom: 47px;
    left: -21px;
}

.application-item__text {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #0C0B0B;
	margin-top: 16px;
}

.application-item__text--last {
	max-width: 700px;
}

/* WHERE BUY */

.where-buy {

}

.where-buy-content-wrp {
	padding-top: 100px;
	padding-bottom: 176px;
}

.where-buy-content {
	width: 100%;
}

.where-buy-slider {
	position: relative;
	margin-top: 88px;
}

.where-buy-items {
	display: flex;
	justify-content: center;
}

.where-buy-item {
	margin-left: 2px;
    margin-right: 2%;
}

.wb-items-arrows {
    position: absolute;
	top: 40%;
	cursor: pointer;
}

.wb-items-arrow-left {
	left: 0;
}

.wb-items-arrow-right {
	right: 0;
}



/* QUESTION */

.question {

}

.question-content-wrp {
	padding-bottom: 178px;
}

.question-content {

}

.question-items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 78px;
	justify-content: space-between;
}

.question-item {
	padding: 27px 80px 31px 25px;	
	border: 2px solid #E6E6E6;
	background-image: url('../images/main-pages/arrow-right.png');
	background-repeat: no-repeat;
	background-position: 92% 44%;
	max-width: 24%;
    width: 50vw;
	margin-bottom: 25px;
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #000000;
	text-decoration: none;
}
.question-item:hover {
	text-decoration: underline;
}

/* REFERENCE */

.reference {

}

.reference-content-wrp {
	padding-bottom: 179px;
}

.reference-content {
	display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 30px;
    width: 100%;
}
.reference__caption {
	font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0C0B0B;
    margin-bottom: 28px;
}
.reference-vertical-line {
    height: 100%;
    width: 1px;
    background: #C4C4C4;
    position: absolute;
    left: 0;
    top: 0;
}
.reference-sides {
    display: flex;
    justify-content: space-between;
}

.reference__text {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
    line-height: 190%;
	/* font-size: 14px;
	line-height: 130%; */
	color: #7C7C7C;
}

.reference-vertical-line {
	height: 100%;
	width: 1px;
	background: #C4C4C4;
	margin-right: 30px;
}

.reference-left {
	width: 47%;
    padding-right: 20px;
    padding-left: 20px;
}
.reference__link {
	text-decoration: none;
	font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 190%;
    color: #7C7C7C;
}
.reference__link:hover {
	text-decoration: underline;
}

.reference-right {
	width: 47%;
}

/* color hover */

.plato-item {
	position: relative;
	text-decoration: none;
	display: flex;
    flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.plato-item__price {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
	/* text-decoration-line: underline; */
	color: #000000;
	display: inline-block;
    position: relative;
	margin: 0 auto;
	padding-top: 18px;
}

.plato-item__price::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
}

.where-buy-slider .owl-stage-outer .owl-stage {
	display: flex !important;
	align-items: center;
}

.where-buy-slider .owl-stage-outer .owl-stage .owl-item {
	display: flex;
	justify-content: center;
}

.plato-img {
	max-width: 200px;
}

.plato-img-1 {
	z-index: 1;
	position: relative;
}

.plato-img-2 {
	transition:opacity .8s; 
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.opacity-color-hover {
	opacity: 1 !important;
	z-index: 2 !important;
}

/* SLIDER STYLES */

.where-buy-slider-wrp {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.owl-theme .owl-nav {
    margin-top: 0px !important;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 69px;
    width: 100%;
    box-sizing: border-box;
	outline: none;
	height: 0px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    text-decoration: none;
}

.owl-prev { 
	width: 40px;
	height: 40px;
	background-image: url('../images/products/slider-arrow-left.png') !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	margin: 0px !important;
	margin-left: -40px !important;
}

.owl-next { 
	width: 40px;
	height: 40px;
	background-image: url('../images/products/slider-arrow-right.png') !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	margin: 0px !important;
	margin-right: -40px !important;
}


.owl-theme .owl-nav button span { 
	display: none;
}


/* SLIDER STYLES end */