/* hero */

.hero {
	height: 100%;
	position: relative;
}

.hero-content-wrp {
	height: 100%;
	position: relative;
	height: calc(100% - 57px);
	box-sizing: border-box;
	padding-bottom: 203px;
}

.hero-content {
	display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
	width: 100%;
	position: relative;
	height: auto;
	margin-top: 81px;
}

.hero__caption {
	font-family: 'Playfair';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 125%;
	display: flex;
	align-items: center;
	text-align: start;
	color: #000000;
	margin-bottom: 82px;
}

.hero-route {
	display: flex;
	margin-bottom: 69px;
}
.hero-route__link {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2em;
	color: #686868;
	margin-right: 60px;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}
.hero-route__link--active::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: black;
}

.hero-route__link:last-child { 
	margin-right: 0px;
}
.hero-route__link--active {
	color: #000000;
	font-weight: 600;
}

.wb-sup-r {
	font-size: 62%;
	margin-bottom: 5px;
}
.wb-sup-r-2 {
	font-size: 62%;
	margin-bottom: 5px;
	margin-right: 2px;
}

.hero-plato {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
	justify-content: space-between;
}
.plato-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 80px;
	align-items: center;
}
.plato-item {
	position: relative;
	text-decoration: none;
	display: flex;
    flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.plato-item__price {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
	/* text-decoration-line: underline; */
	color: #000000;
	display: inline-block;
    position: relative;
	margin: 0 auto;
	/* margin-left: 28px; */
	padding-top: 18px;
}

.plato-item__price::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
}
.plato-item__wrp-img {
	position: relative;
}
.plato-item img {
	/* max-width: 260px;
	width: 100%; */
}


@media (max-width: 1440px) { 
	.contacts-info__title {
		font-size: 18px;
	}
	.contacts-info__text {
		font-size: 18px;
	}
	.contacts-info {
		max-width: 420px;
	}
	.hero__caption {
		font-size: 3.5vw;
	}
	.plato-item img {
		width: 70%;
	}
	
}
@media (max-width: 1100px) { 

    .hero__caption { 
		font-size: 3.5vw;
    }
	.hero-content {
		margin-top: 58px;
	}
	.hero-content-wrp {
		padding-bottom: 153px;
	}
	.plato-row {
		margin-bottom: 60px;
	}
}

@media (max-width: 991px) { 
	.contacts-info {
		max-width: 38vw;
	}
	.contacts-info__title {
		font-size: 17px;
	}
	.contacts-info__text {
		font-size: 17px;
	}
	.plato-row {
		margin-bottom: 40px;
	}
}

@media (max-width: 767px) {  
    .hero__caption {
        font-size: 32px;
    }
	.contacts-info {
		margin-top: 40px;
		max-width: 100%;
	}
	.hero-content-wrp {
		padding-bottom: 110px;
	}
	.plato-item img {
		width: 74%;
	}
}

@media (max-width: 622px) { 
    .hero__caption {
        font-size: 30px;
		margin-bottom: 26px;
    }
	.hero-content {
		margin-top: 38px;
	}
	.hero-content-wrp {
		padding-bottom: 90px;
	}
	.hero-route {
		flex-direction: column;
	}
	.hero-route__link {
		margin-bottom: 10px;
	}
	.hero-route__link:last-child { 
		margin-bottom: 0px;
	}
	.contacts-info__title {
        font-size: 16px;
	}
	.contacts-info__text {
        font-size: 16px;
	}
	.contacts-info-block {
		margin-bottom: 28px;
	}
	.hero-route {
		margin-bottom: 59px;
	}
	.plato-row {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 0px;
	}
	.plato-item {
		width: 50%;
		margin-bottom: 0px;
		height: 116px;
	}
	.plato-item img {
		width: 50%;
	}
}

@media (max-width: 479px) { 
	.plato-item__price {
		font-size: 16px;
		padding-top: 10px;
		/* margin-left: 24px; */
		padding-top: 18px;
		padding-top: 10px;
	}
	
    .hero__caption {
        font-size: 22px;
		margin-bottom: 28px;
    }
	.hero-content-wrp {
		padding-bottom: 80px;
	}
	.hero-route {
		margin-bottom: 29px;
	}
	.plato-item img {
		width: 66%;
	}
	.hero-route {
		flex-direction: row;
		margin-right: 20px;
	}
	/* .hero-route__link--active {
		margin-right: 20px;
	} */
	.hero-route__link {
		margin-bottom: 0px;
	}
}

/* color hover */

.plato-img {
	max-width: 200px;
}

.plato-img-1 {
	z-index: 1;
	position: relative;
}

.plato-img-2 {
	transition:opacity .8s; 
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.opacity-color-hover {
	opacity: 1 !important;
	z-index: 2 !important;
}
